---
layout: default
---

<style>
  li {
    margin-top: 0;
    line-height: 1.9;
    margin-bottom: 0.4em;
  }
</style>

<div style="color: var(--slate); font-size: 0.8em;" class="lang-ko">
    현재 집필 중인 책의 프리뷰입니다. 피드백 및 오류 제보는 큰 도움이
    됩니다.
</div>

<div style="color: var(--slate); font-size: 0.8em;" class="lang-en">
    This is a preview of a book I am currently writing. The book explores the enigmatic connections among mathematics, philosophy, and physics. Please understand that it is only provided in Korean.
</div>

<div class="page" style="margin-top: 3em; max-width: 600px">
  <h1 class="page-title" style="margin-bottom: 1em">{{ page.title }}</h1>
  <div style="line-height: 2">{{ content }}</div>
</div>
