<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}

  <style>
    /* 검색 입력창 */
    #search-input {
      padding: 6px 12px;
      font-size: 15px;
      border: 1px solid #eee;
      border-radius: 20px;
      outline: none;
      transition: all 0.2s ease-in-out;
      width: 90%;
      max-width: 240px;
      background-color: #fefefe;
    }

    #search-input::placeholder {
      color: var(--slate);
    }

    /* 입력창 포커스 시 */
    #search-input:focus {
      border-color: #9ea0a3;
      background-color: white;
    }
  </style>

  <body>
    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead" style="width: 100%">
        <div
          class="container"
          style="
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 0px;
            margin-left: 4em;
            margin-right: 0;
            max-width: none;
          "
        >
          <h3
            class="masthead-title"
            style="
              display: flex;
              flex-direction: row;
              gap: 0.4em;
              align-items: end;
            "
          >
            <a href="{{ site.baseurl }}/" style="white-space: nowrap;" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
          <form
            id="search-form"
            action="/search.html"
            method="get"
            style="      display: flex;
      justify-content: end; padding-right: 1em;"
          >
            <input
              type="text"
              name="q"
              id="search-input"
              placeholder="검색어를 입력하세요"
            />
          </form>
        </div>
      </div>

      <div class="container content">{{ content }}</div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script src="{{ site.baseurl }}/public/js/script.js"></script>
  </body>
</html>
